.main-container {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	display: grid;
	align-items: center;  // Centers items vertically within the grid
	margin-left: 70px;
	margin-right: 70px;
}